        <!-- Ventana Principal -->
        <div class="main-father" id="main-window">
            <div class="main-child">
                <div class="container">
                    <div class="content-example">
                        <!-- ejemplo -->
                        <h2>Ventana Principal - calendar</h2>
                        <p>Esta es la ventana principal del sistema. Aquí se muestra el contenido por defecto.</p>
                        <p>Para ver las ventanas adicionales, haz clic en "Crear Pedido" en el menú lateral.</p>
                           
                    </div>
                </div> 
            </div>
        </div>